<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <url-pattern>/loginShortResponse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomersNamesListServlet</servlet-name>
        <servlet-class>servlets.CustomersNamesListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersNamesListServlet</servlet-name>
        <url-pattern>/customersListNames</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyLoansServlet</servlet-name>
        <servlet-class>servlets.MyLoansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyLoansServlet</servlet-name>
        <url-pattern>/myLoans</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyInvestedLoansServlet</servlet-name>
        <servlet-class>servlets.MyInvestedLoansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyInvestedLoansServlet</servlet-name>
        <url-pattern>/myInvestedLoans</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <servlet-class>servlets.CustomerInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerInfoServlet</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateMoneyServlet</servlet-name>
        <servlet-class>servlets.UpdateMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMoneyServlet</servlet-name>
        <url-pattern>/update-money</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateNewLoanServlet</servlet-name>
        <servlet-class>servlets.CreateNewLoanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewLoanServlet</servlet-name>
        <url-pattern>/create-loan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScrumbleServlet</servlet-name>
        <servlet-class>servlets.ScrumbleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScrumbleServlet</servlet-name>
        <url-pattern>/scrumble</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FilteredLoansServlet</servlet-name>
        <servlet-class>servlets.FilteredLoansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilteredLoansServlet</servlet-name>
        <url-pattern>/filter-list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllCategoriesServlet</servlet-name>
        <servlet-class>servlets.AllCategoriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllCategoriesServlet</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConveyMoneyToCustomersServlet</servlet-name>
        <servlet-class>servlets.ConveyMoneyToCustomersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConveyMoneyToCustomersServlet</servlet-name>
        <url-pattern>/convey-money</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyLoanPartServlet</servlet-name>
        <servlet-class>servlets.BuyLoanPartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyLoanPartServlet</servlet-name>
        <url-pattern>/buy-loan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SellLoanPartServlet</servlet-name>
        <servlet-class>servlets.SellLoanPartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellLoanPartServlet</servlet-name>
        <url-pattern>/sell-loan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoansListServlet</servlet-name>
        <servlet-class>servlets.LoansListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoansListServlet</servlet-name>
        <url-pattern>/loansList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomersListServlet</servlet-name>
        <servlet-class>servlets.CustomersListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersListServlet</servlet-name>
        <url-pattern>/customersList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeYazServlet</servlet-name>
        <servlet-class>servlets.ChangeYazServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeYazServlet</servlet-name>
        <url-pattern>/yazServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IsRewindServlet</servlet-name>
        <servlet-class>servlets.IsRewindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IsRewindServlet</servlet-name>
        <url-pattern>/is-Rewind</url-pattern>
    </servlet-mapping>

</web-app>